@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50; /* Pastikan ini lebih tinggi dari komponen lainnya */
  }
  
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #A98A55 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #A98A55;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
